.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}


/*everything below here is just setting up the page, so dont worry about it */

@media (min-width: 768px) {
    .navbar {
        text-align: center !important;
        float: none;
        display: inline-block;
    }
}

body {
    background: black;
    padding-top: 2rem;
    font-weight: 600;
    text-align: center !important;
    color: white;
}


/* .imagebg {
    background-image: url("/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    padding-bottom: 2rem;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 5%;
    margin-bottom: 20%;
} */

.owned {
    border: 2px solid rgb(138, 199, 207);
    padding: 2%;
    margin-left: 29%;
    margin-right: 28%;
    margin-bottom: 100px;
}

nav {
    background: none !important;
    text-transform: uppercase;
}

nav li {
    margin-left: 3em;
    margin-right: 3em;
}

nav li a {
    transition: .5s color ease-in-out;
}

.page-title {
    opacity: .75 !important;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create four equal columns that floats next to eachother */

.image-col {
    height: auto;
    width: 400px;
    position: relative;
    float: left;
    width: auto;
    background-size: fill;
    margin: 3px;
    border: 1px solid #ccc;
}

img {
    width: 300px;
    height: 300px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 30%, rgba(58, 218, 216, 1) 59%, rgba(45, 136, 253, 1) 96%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.image-col:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}